<div class="row mt-5">
  <div class="col-md-12">
      <!--Card-->
      <div class="card card-cascade narrower mt-5">
          <!--Card image-->
          <div class="view gradient-card-header blue darken-2">
              <h4 class="h4-responsive text-white">Gestão de Cardápio</h4>
          </div>
          <!--/Card image-->
          <!--Card content-->
          <div class="card-body">
              
              <table class="table">
                  <thead>
                      <tr>
                          <th>Nome</th>
                          <th>Descrição</th>
                          <th>Valor</th>
                          <th>
                                <a routerLink="/addcategory"><mdb-icon fas icon="plus fa-2x m-1 green-text" title="Nova Categoria"></mdb-icon>Categoria</a>
                          </th>
                          <th>Ações</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let order of orders">
                          
                        <td>{{ order.name }}</td>
                        <td>{{ order.describle }}</td>
                        <td>{{ order.value }}</td>
                        <td>{{ order.category }}</td>
                        <td>
                            <a routerLink="/editmenu"><mdb-icon fas icon="edit fa-2x blue-text" title="Editar"></mdb-icon></a>
                            <a routerLink="/deletemenu"><mdb-icon fas icon="trash-alt red-text m-3 fa-2x" title="Excluir"></mdb-icon></a>
                        </td>
                      </tr>
                  </tbody>
              </table>
          </div>
          <!--/.Card content-->
      </div>
      <!--/.Card-->
  </div>
</div>